html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#gui-container {
  position: absolute;
  top: 30px;
  left: 30px;
}

#gui-container .tp-rotv .tp-rotv_b .tp-rotv_m {
  cursor: pointer;
}

#gui-container #drag-zone {
  position: absolute;
  width: 90%;
  height: 25px;
  top: 0;
  cursor: move;
}
